<nav class="navbar navbar-light bg-primary">
    
      <div class="container">
        <a class="navbar-brand">Dayaratne Holdings (pvt) ltd<br>BarCode Generation</a>
      </div>

</nav>

<div class="container">

  <form (ngSubmit)="SaveBarCode()">

    <div class="row mt-2">
      <div class="col-lg-6">
        <label>Part Number : </label>
        <div class="input-group">
          
          <input [(ngModel)]="barCodeObj.itemAssetNumber" name="assetname" type="text" class="form-control"
            placeholder="Enter Part Number" aria-label="AssetName" aria-describedby="basic-addon1">
        </div>
      </div>

      <div class="col-lg-6">
        <label>Part Name : </label>
        <div class="input-group">
         
          <input [(ngModel)]="barCodeObj.itemName" name="itemname" type="text" class="form-control"
            placeholder="Enter Part Name" aria-label="ItemName" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="text-end">
        <button type="submit" class="btn btn-primary mt-2">Generate BarCode</button>
        <button class="btn btn-warning mt-2"(click)="generateExcel()">Generate Excel</button>
      </div>
    </div>
  </form>

  <table class="table mt-2">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Part Number</th>
        <th scope="col">Part Name</th>
        <th scope="col">BarCode Number</th>
        <th scope="col">BarCode</th>
      </tr>
    </thead>
    <tbody class="text-center border">

      <tr *ngFor="let barCodeObj of barCodes">
        <td>{{barCodeObj.id}}</td>
        <td>{{barCodeObj.itemAssetNumber}}</td>
        <td>{{barCodeObj.itemName}}</td>
        <td>{{barCodeObj.barCodeValue}}</td>

        <td class="text-center border ">
          <div> {{barCodeObj.itemAssetNumber}}</div>
          <div> {{barCodeObj.itemName}}</div>
          <img [src]="getImageUrl(barCodeObj.codeImg)" alt="Image">
          <div> {{barCodeObj.barCodeValue}}</div>
        </td>
      </tr>

    </tbody>
  </table>

</div>